.container {
    border: 1px solid;
    border-radius: 1em;
    width: 50%;
  margin: 4em auto 0;
  padding: 1em;
    background: rgba(0, 0, 0, 0.3);
  }
  .skin-title {
    max-height: 600px;
    overflow: auto;
  }

  .skin-colors p {
    display: inline-block;
    width: 65px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    border: 2px solid black;
  }

  .header-background {
    text-align: center;
    margin-bottom: 20px;
    background-color: #a67b5b;
    color: white;
  }

  tbody tr:hover{
    border: 2px solid #a67b5b;
    background: white;
    color: black;
    cursor: pointer;
  }
