.container {
    border: 1px solid;
    border-radius: 1em;
    width: 50%;
    margin: 0 auto;
    margin-top: 4em;
    padding: 1em;
    background: rgba(0, 0, 0, 0.3);
  }
  .skin-title {
    max-height: 600px;
    overflow: auto;
  }
  .skin-title::-webkit-scrollbar {
    width: 5px;
  }
  
  .skin-title::-webkit-scrollbar-track {
    background-color: #a67b5b;
    border-radius: 100px;
  }
  
  .skin-title::-webkit-scrollbar-thumb {
    background-color: #c19a6b;
    border-radius: 100px;
  }
  
  table {
    margin: 0 auto;
    text-align: center;
  }
  thead {
    font-weight: bold;
  }
  td {
    padding: 0 10px;
  }
  
  .skin-colors p {
    display: inline-block;
    width: 65px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    border: 2px solid black;
  }
  
  .header-background {
    text-align: center;
    margin-bottom: 20px;
    background-color: #a67b5b;
    color: white;
  }
  
  tbody tr:hover{
    border: 2px solid #a67b5b;
    background: white;
    color: black;
    cursor: pointer;
  }
  