.container {
  border: 1px solid;
  border-radius: 1em;
  width: 50%;
  margin: 0 auto;
  margin-top: 4em;
  padding: 1em;
  background: rgba(255, 255, 255, 0.3)
}

table{
  margin: 0 auto;
  text-align: center;
}
thead{
  font-weight: bold;
}
td{
  padding: 0 10px;
}

.skin-colors p{
  display:inline-block;
  width: 65px;
  height: 30px;
  padding: 5px;
  margin: 5px;
  border: 2px solid black ;
}

.header-background{
  text-align: center;
  margin-bottom: 20px;
  color: #C19A6B;
}