<section class="container">
  <div class="header-background">
    <h2>Skin tan per days</h2>
  </div>
  <section class="skin-title" *ngIf="haveSkins">
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Duration</th>
          <th>Skin Tan</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let skin of skins" [routerLink]="['/skins', skin._id]">
          <td>{{skin.skinDate | date:'dd/MM/YYYY'}}</td>
          <td>{{skin.skinBathDuration}} min.</td>
          <td class="skin-colors">
            <container-element [ngSwitch]=skin.skinColor>
              <p *ngSwitchCase="1" style="background: #F8D1AE;"></p>
              <p *ngSwitchCase="2" style="background: #F9C99D;"></p>
              <p *ngSwitchCase="3" style="background: #F4BF96;"></p>
              <p *ngSwitchCase="4" style="background: #F3C996;"></p>
              <p *ngSwitchCase="5" style="background: #F3C18A;"></p>
              <p *ngSwitchCase="6" style="background: #F2C18A;"></p>
              <p *ngSwitchCase="7" style="background: #F2B587;"></p>
              <p *ngSwitchCase="8" style="background: #E6B37C;"></p>
              <p *ngSwitchCase="9" style="background: #E2B680;"></p>
              <p *ngSwitchCase="10" style="background: #DFB076;"></p>
              <p *ngSwitchCase="11" style="background: #D6A578;"></p>
              <p *ngSwitchCase="12" style="background: #D7A677;"></p>
              <p *ngSwitchCase="13" style="background: #DBA27C;"></p>
              <p *ngSwitchCase="14" style="background: #D0A078;"></p>
              <p *ngSwitchCase="15" style="background: #BE9578;"></p>
              <p *ngSwitchCase="16" style="background: #AE825F;"></p>
              <p *ngSwitchCase="17" style="background: #A18260;"></p>
              <p *ngSwitchCase="18" style="background: #8E6F54;"></p>
              <p *ngSwitchCase="19" style="background: #ee9fa3;"></p>
              <p *ngSwitchCase="20" style="background: #FB6C72;"></p>
              <p *ngSwitchCase="21" style="background: #EF5D63;"></p>
              <p *ngSwitchCase="22" style="background: #EB4850;"></p>
              <p *ngSwitchCase="23" style="background: #DF3C45;"></p>
              <p *ngSwitchCase="24" style="background: #E02837;"></p>
            </container-element>
          </td>
          <td>{{skin.comment? skin.comment: "" | shorten : 25}}</td>
        </tr>
      </tbody>
    </table>
  </section>

  <div *ngIf="!haveSkins">There are no skins</div>
  <div *ngIf="!skins">Loading...</div>
</section>