.skin-calculator {
  border: 1px solid;
  border-radius: 1em;
  width: 50%;
  margin: 0 auto;
  margin-top: 4em;
  padding: 1em;
  background: rgba(0, 0, 0, 0.3);
}
.header-background {
  text-align: center;
  margin-bottom: 20px;
  background-color: #a67b5b;
  color: white;
}
.new-skin-border .input {
  margin-bottom: 1em;
}

.new-skin-date-duration {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
#skinBathDuration {
  width: 20%;
}

.new-skin-date-duration label {
  margin-right: 20px;
  margin-bottom: 10px;
}

button + button {
  margin-left: 1rem;
}

.new-skin-buttons {
  margin-top: 1em;
  text-align: center;
}

.new-skin-buttons button {
  padding: 0.4em 1.5em;
  border: 1px solid #333333;
  border-radius: 0.3em;
}

p.error,
.red {
  text-align: left;
  border-radius: 0.3em;
  color: red;
  padding-top: 0;
}

.input-error {
  border-left-color: red;
}

.skin-colors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: auto;
  justify-content: space-between;
}
.skin-lists {
  margin-top: 25px;
}
input[type="radio"] {
  left: -999em;
  position: absolute;
}

input[type="radio"]:checked + label {
  border: 3px solid white;
}

.skin-colors label {
  width: 65px;
  height: 30px;
  padding: 5px;
  margin: 5px;
  border: 2px solid black;
  border-radius: 5px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
}
