<section class="skin-calculator">
    <div class="header-background">
        <h2>Skin Tan Calculator</h2>
    </div>
    
    <form [formGroup]='form' (ngSubmit)="onSubmit()" *ngIf="coefficient">

        <p class="skin-lists">Please choose your current skin color:</p>
        <div class="skin-colors">
            <input type="radio" name="skinColor" id="skinColor1" value="1" required formControlName="skinColor">
            <label for="skinColor1" style="background: #F8D1AE;"></label>

            <input type="radio" name="skinColor" id="skinColor2" value="2" required formControlName="skinColor">
            <label for="skinColor2" style="background: #F9C99D;"></label>

            <input type="radio" name="skinColor" id="skinColor3" value="3" required formControlName="skinColor">
            <label for="skinColor3" style="background: #F4BF96;"> </label>

            <input type="radio" name="skinColor" id="skinColor4" value="4" required formControlName="skinColor">
            <label for="skinColor4" style="background: #F3C996;"></label>

            <input type="radio" name="skinColor" id="skinColor5" value="5" required formControlName="skinColor">
            <label for="skinColor5" style="background: #F3C18A;"></label>

            <input type="radio" name="skinColor" id="skinColor6" value="6" required formControlName="skinColor">
            <label for="skinColor6" style="background: #F2C18A;"></label>

            <input type="radio" name="skinColor" id="skinColor7" value="7" required formControlName="skinColor">
            <label for="skinColor7" style="background: #F2B587;"></label>

            <input type="radio" name="skinColor" id="skinColor8" value="8" required formControlName="skinColor">
            <label for="skinColor8" style="background: #E6B37C;"></label>

            <input type="radio" name="skinColor" id="skinColor9" value="9" required formControlName="skinColor">
            <label for="skinColor9" style="background: #E2B680;"></label>

            <input type="radio" name="skinColor" id="skinColor10" value="10" required formControlName="skinColor">
            <label for="skinColor10" style="background: #DFB076;"></label>

            <input type="radio" name="skinColor" id="skinColor11" value="11" required formControlName="skinColor">
            <label for="skinColor11" style="background: #D6A578;"></label>

            <input type="radio" name="skinColor" id="skinColor12" value="12" required formControlName="skinColor">
            <label for="skinColor12" style="background: #D7A677;"></label>

            <input type="radio" name="skinColor" id="skinColor13" value="13" required formControlName="skinColor">
            <label for="skinColor13" style="background: #DBA27C;"></label>

            <input type="radio" name="skinColor" id="skinColor14" value="14" required formControlName="skinColor">
            <label for="skinColor14" style="background: #D0A078;"></label>

            <input type="radio" name="skinColor" id="skinColor15" value="15" required formControlName="skinColor">
            <label for="skinColor15" style="background: #BE9578;"></label>

            <input type="radio" name="skinColor" id="skinColor16" value="16" required formControlName="skinColor">
            <label for="skinColor16" style="background: #AE825F;"></label>

            <input type="radio" name="skinColor" id="skinColor17" value="17" required formControlName="skinColor">
            <label for="skinColor17" style="background: #A18260;"></label>

            <input type="radio" name="skinColor" id="skinColor18" value="18" required formControlName="skinColor">
            <label for="skinColor18" style="background: #8E6F54;"></label>
        </div>
        <ng-container *ngIf="form.get('skinWantedColor')?.touched">
            <p *ngIf="form.get('skinColor')?.errors?.required" class="error">
                Skin color is required.
            </p>
        </ng-container>
        <p class="skin-lists">Please choose wanted skin color:</p>
        <div class="skin-colors">
            <input type="radio" name="skinWantedColor" id="skinWantedColor1" value="1" required
                formControlName="skinWantedColor">
            <label for="skinWantedColor1" style="background: #F8D1AE;"></label>

            <input type="radio" name="skinWantedColor" id="skinWantedColor2" value="2" required
                formControlName="skinWantedColor">
            <label for="skinWantedColor2" style="background: #F9C99D;"></label>

            <input type="radio" name="skinWantedColor" id="skinWantedColor3" value="3" required
                formControlName="skinWantedColor">
            <label for="skinWantedColor3" style="background: #F4BF96;"> </label>

            <input type="radio" name="skinWantedColor" id="skinWantedColor4" value="4" required
                formControlName="skinWantedColor">
            <label for="skinWantedColor4" style="background: #F3C996;"></label>

            <input type="radio" name="skinWantedColor" id="skinWantedColor5" value="5" required
                formControlName="skinWantedColor">
            <label for="skinWantedColor5" style="background: #F3C18A;"></label>

            <input type="radio" name="skinWantedColor" id="skinWantedColor6" value="6" required
                formControlName="skinWantedColor">
            <label for="skinWantedColor6" style="background: #F2C18A;"></label>

            <input type="radio" name="skinWantedColor" id="skinWantedColor7" value="7" required
                formControlName="skinWantedColor">
            <label for="skinWantedColor7" style="background: #F2B587;"></label>

            <input type="radio" name="skinWantedColor" id="skinWantedColor8" value="8" required
                formControlName="skinWantedColor">
            <label for="skinWantedColor8" style="background: #E6B37C;"></label>

            <input type="radio" name="skinWantedColor" id="skinWantedColor9" value="9" required
                formControlName="skinWantedColor">
            <label for="skinWantedColor9" style="background: #E2B680;"></label>

            <input type="radio" name="skinWantedColor" id="skinWantedColor10" value="10" required
                formControlName="skinWantedColor">
            <label for="skinWantedColor10" style="background: #DFB076;"></label>

            <input type="radio" name="skinWantedColor" id="skinWantedColor11" value="11" required
                formControlName="skinWantedColor">
            <label for="skinWantedColor11" style="background: #D6A578;"></label>

            <input type="radio" name="skinWantedColor" id="skinWantedColor12" value="12" required
                formControlName="skinWantedColor">
            <label for="skinWantedColor12" style="background: #D7A677;"></label>

            <input type="radio" name="skinWantedColor" id="skinWantedColor13" value="13" required
                formControlName="skinWantedColor">
            <label for="skinWantedColor13" style="background: #DBA27C;"></label>

            <input type="radio" name="skinWantedColor" id="skinWantedColor14" value="14" required
                formControlName="skinWantedColor">
            <label for="skinWantedColor14" style="background: #D0A078;"></label>

            <input type="radio" name="skinWantedColor" id="skinWantedColor15" value="15" required
                formControlName="skinWantedColor">
            <label for="skinWantedColor15" style="background: #BE9578;"></label>

            <input type="radio" name="skinWantedColor" id="skinWantedColor16" value="16" required
                formControlName="skinWantedColor">
            <label for="skinWantedColor16" style="background: #AE825F;"></label>

            <input type="radio" name="skinWantedColor" id="skinWantedColor17" value="17" required
                formControlName="skinWantedColor">
            <label for="skinWantedColor17" style="background: #A18260;"></label>

            <input type="radio" name="skinWantedColor" id="skinWantedColor18" value="18" required
                formControlName="skinWantedColor">
            <label for="skinWantedColor18" style="background: #8E6F54;"></label>
        </div>
        <ng-container *ngIf="form.get('skinWantedColor')?.touched">
            <p *ngIf="form.get('skinWantedColor')?.errors?.required" class="error">
                Skin color is required.
            </p>
        </ng-container>
        <div class="buttons">
            <div class="days">
                <label for="days">Enter days for sun baths:
                    <input type="number" name="days" id="days" formControlName="days" min="0" max="100"></label>

                <div class="new-skin-buttons">
                    <button name="dayDuration" type="submit" (click)="calculateDailyDuration()">Calculate</button>
                </div>
                <div *ngIf="calculatedDuration" class="result">You need <span>{{calculatedDuration}} minutes</span> per day for wanted tan.
                    <p class="warning">
                        This is for example. Be carefur with sun baths!
                    </p>
                </div>
            </div>
            <div class="duration">
                <label for="dayDuration">Enter daily duration in minutes:
                    <input type="number" name="dayDuration" id="dayDuration" formControlName="dayDuration" min="0"
                        max="720"></label>

                <div class="new-skin-buttons">
                    <button name="days" type="submit" (click)="calculateDays()">Calculate</button>
                </div>
                <div *ngIf="calculatedDays" class="result">After <span>{{calculatedDays}} days</span> you will have wanted tan.
                    <p class="warning">
                        This is for example. Be carefur with sun baths!
                    </p>
                </div>
            </div>
        </div>
    </form>
    <div *ngIf="!coefficient">You must have valid skins !!!</div>
</section>