<section class="welcome">
  <h2>Welcome!</h2>
  <p>Skin sun bath is a application which can calculate time for your skin tan.</p>
  <p>After entering enough day with skin color you can calculate minutes per day and day per minutes for a daily sun bath for wanted tan.</p>
  <div class="logged" *ngIf="!isLogged">
    <ul>
      <li>
        <a routerLink="/login">
          Login
        </a>
      </li>
      <li>
        <a routerLink="/register">
          Register
        </a>
      </li>
    </ul>
  </div>
</section>
