<header class="navbar-wrap">
    <section class="logo-wrap" routerLink="/">
      <img src="../../../assets/img/logo.webp" width=75px height=75px>
      <span>Skin Sun Bath</span>
    </section>
    <nav class="mini-navbar">
      <ul *ngIf="!isLogged">
        <li>
          <a routerLink="/login" class="user">Login</a>
        </li>
        <li>
          <a routerLink="/register" class="user">Register</a>
        </li>
      </ul>
      <ul *ngIf="isLogged">
        <li>
          <a routerLink="/add-skin">Daily skin color</a>
        </li>
        <li>
          <a routerLink="/skins">Skins gradient</a>
        </li>
        <li>
          <a routerLink="/skins/calculate">Skin Calculator</a>
        </li>
        <p class="space"></p>
        <li  class="user">Welcome, {{username}}</li>
        <li (click)="logout()" class="user">Logout</li>
      </ul>
    </nav>
</header>
